{% extends "base.html" %}
{% load static %}
{% load custom_tag %}
{% load humanize %}

{% block meta_description %}
<meta name="description" content="{{ meta_description }}">
{% endblock %}

{% block canonical_url %}{{request.build_absolute_uri|canonicalUrl}}{% endblock %}

{% block content %}
<style type="text/css">
    @media (max-width: 1024px) {
        .car-price-td {
            width:132px !important;
        }

        .table {
            width: 900px !important;
        }
    }
</style>
<div style="height:20px;"></div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

{% if car_name != None or car_brand != None %}        
<!-- S/R Responsive Top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7284757916411254"
     data-ad-slot="7876719366"
     data-ad-format="auto"></ins>
{% endif %}

<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
     
<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet box" style="border-color: #a01922; margin-top: 20px;">

    {% if car_name != None or car_brand != None %}                                

        <div class="portlet-title" style="background-color: #a01922">
            <div class="caption">
                {{car_name|default_if_none:"Supercar"}} {{car_brand|default_if_none:""}} Prices</div>
        </div>
        
        <div class="portlet-body">
            <div class="table-scrollable">

                
                <style>
                    .price_list, .price_header {
                        display: flex;
                        border-bottom: 2px solid #EEEEEE;
                        padding: 5px 0;
                    }

                    .price-year {                        
                        width: 7.66667%;
                        margin-left: 5px;
                    }

                    .price_header .price-item {
                        width: 45.66667%;                        
                    }

                    .price_header {
                        font-weight: bold;
                    }

                    .price_list .price-item {
                        width: 43.66667%;
                        /*display: flex;*/
                        display: table;
                        justify-content: space-around;
                    }

                    .price_list .price-item > * {
                        display: table-cell;
                        text-align: center;
                        width: 15%;
                    }

                    @media (max-width: 670px) {
                        .custom-hidden {
                            display: none!important;
                        }
                    }
                </style>

                <div class = "price_header">
                    <div class = "text-left price-year">{% if car_brand == None %}Model{% else %}Year{% endif %}</div>                
                    <div class = "text-center price-item"><span class="flag flag-us" style="position: relative; top: 3px;"></span> <span style="margin-left: 5px;">USA</span></div>
                    <div class = "text-center price-item"><span class="flag flag-gb" style="position: relative; top: 3px;"></span> <span style="margin-left: 5px;">UK</span></div>
                </div>
                <div class = "price_list" style = "font-weight: bold;">
                    <div class = "text-left price-year"></div>                
                    <div class = "price-item">
                        <div class="custom-hidden" style="margin-left: 5px;">
                            <span>Low</span>
                        </div>
                        <div style="margin-left: 5px;">
                            <span>Average</span>
                        </div>
                        <div class="custom-hidden" style="margin-left: 5px;">
                            <span>High</span>
                        </div>
                    </div>
                    <div class = "price-item" >
                        <span class="custom-hidden" style="margin-left: 5px;">Low</span>
                        <span style="margin-left: 5px;">Average</span>
                        <span class="custom-hidden" style="margin-left: 5px;">High</span>
                    </div>
                </div>
                {% if prices %}
                    {% for item in prices %}
                        <div class = "price_list">
                            <div class = "text-left price-year"><a>{{item.year}}</a></div>                
                            <div class = "price-item">
                                <div class="custom-hidden" style="margin-left: 5px;">
                                    <span>{{item.usa_low_price|floatformat:"0"|intcomma}}$</span>
                                </div>
                                <div style="margin-left: 5px;">
                                    <span>{{item.usa_avg_price|floatformat:"0"|intcomma}}$</span>
                                </div>
                                <div class="custom-hidden" style="margin-left: 5px;">
                                    <span>{{item.usa_high_price|floatformat:"0"|intcomma}}$</span>
                                </div>
                            </div>
                            <div class = "price-item" >
                                <div class="custom-hidden" style="margin-left: 5px;">
                                    <span>{{item.uk_low_price|floatformat:"0"|intcomma}}€</span>
                                </div>
                                <div style="margin-left: 5px;">
                                    <span>{{item.uk_avg_price|floatformat:"0"|intcomma}}€</span>
                                </div>
                                <div class="custom-hidden" style="margin-left: 5px;">
                                    <span>{{item.uk_high_price|floatformat:"0"|intcomma}}€</span>
                                </div>                            
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}                
                {% if car_brand == None %}
                    {% for name in res %}
                        <div class = "price_list">
                            <div class = "text-left price-year"><a href="{%if car_brand != None %} javascript:;
                                     {% elif car_name != None %} /{{car_name|slugify}}-{{name|slugify}}-prices
                                     {% else %} {% url 'brand' car_name=name|slugify|postfix:'-prices' %} {% endif %}">{{name}}</a></div>                
                            {% for cn in res|dict:name %}                          
                                <div class = "price-item">
                                    <div class="custom-hidden" style="margin-left: 5px;">
                                        <span>{{cn.usa_l_price|floatformat:"0"|intcomma}}$</span>
                                    </div>
                                    <div style="margin-left: 5px;">
                                        <span>{{cn.usa_a_price|floatformat:"0"|intcomma}}$</span>
                                    </div>
                                    <div class="custom-hidden" style="margin-left: 5px;">
                                        <span>{{cn.usa_h_price|floatformat:"0"|intcomma}}$</span>
                                    </div>
                                </div>
                                <div class = "price-item" >
                                    <div class="custom-hidden" style="margin-left: 5px;">
                                        <span>{{cn.uk_l_price|floatformat:"0"|intcomma}}€</span>
                                    </div>
                                    <div style="margin-left: 5px;">
                                        <span>{{cn.uk_a_price|floatformat:"0"|intcomma}}€</span>
                                    </div>
                                    <div class="custom-hidden" style="margin-left: 5px;">
                                        <span>{{cn.uk_h_price|floatformat:"0"|intcomma}}€</span>
                                    </div>                            
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="site_map_page">
        <div class="col-md-12">
            <div class="gas_title_product">        
            </div>   
        </div>
        <div class="grid site_map_page_content" data-masonry='{ "itemSelector": ".grid-item"}'>
            {% for name in res %}
                {% if car_name == None and car_brand == None %}                                
                        <div class="grid-item">
                            <div class="site_map_page_grid">
                                 <a class = "header" href="{%if car_brand != None %} javascript:;
                                         {% elif car_name != None %} /{{car_name|slugify}}-{{name|slugify}}-prices
                                         {% else %} {% url 'brand' car_name=name|slugify|postfix:'-prices' %} {% endif %}">{{name}} Prices</a> 
                                <ul>  
                                    {% for cn in res|dict:name|dict:"brand" %}                    
                                        <li>
                                             <a href="{{name|slugify}}-{{cn.brand|slugify}}-prices" style = "font-weight: bold;">{{cn.brand}} Prices</a>
                                        </li>        
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>                    
                {% endif %}
            {% endfor %}
        </div>    
    </div>                
</div>
{% if car_name != None or car_brand != None %}  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- S/R Responsive Middle -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7284757916411254"
     data-ad-slot="9353452560"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div style="height:20px;"></div>

                              
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <span style="color: #a01922" class="caption-subject bold">{{car_name|default_if_none:"Supercar"}} {{car_brand|default_if_none:""}} Prices By Country</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="highchart_2" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- S/R Responsive Bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7284757916411254"
     data-ad-slot="2748515763"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>     
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'global/plugins/highcharts/js/highcharts.js' %}"" type="text/javascript"></script>
<script src="{% static 'global/plugins/highcharts/js/highcharts-3d.js' %}"" type="text/javascript"></script>
<script src="{% static 'global/plugins/highcharts/js/highcharts-more.js' %}"" type="text/javascript"></script>

<script type="text/javascript">
    $('a.nav-toggle').on("touchstart", function (e) {
        console.log('@@@@@@@');
        "use strict"; //satisfy the code inspectors
        var link = $(this); //preselect the link
        if (link.hasClass('hover')) {
            return true;
        } else {
            link.addClass("hover");
            $('a.nav-toggle').not(this).removeClass("hover");
            e.preventDefault();
            return false; //extra, and to make sure the function has consistent return points
        }
    });    
</script>

<script>
Highcharts.setOptions({
    lang: {
        thousandsSep: ','
    }
});

var colors = ['#00FFFF', '#000000', '#0000FF', '#FF00FF', '#800000', '#00FF00', '#008000', '#808080', '#000080', '#808000', '#800080', '#FF0000', '#FFFF00', '#008080', '#C0C0C0', '#6A2719', '#1F6A19', '#46CFDC', '#6146DC', '#DC46C1'];    

$('#highchart_2').highcharts({
        chart : {
            style: {
                fontFamily: 'Open Sans'
            }
        },
        title: {
            text: '',
            x: -20 //center
        },
        /*subtitle: {
            text: 'Source: WorldClimate.com',
            x: -20
        },*/
        yAxis: {
            title: {
                text: 'Price ({{currency.currency}})'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        xAxis: {
            title: {
            text: 'Year'
        },
        categories: {{chartData|dict:2}}
        },
        tooltip: {
            valueDecimals: 0,
            valuePrefix: '{{currency.currency}}'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
                    {% for data in chartData|dict:1 %}
                    {name: '{{data|dict:"name"}}', data: {{data|dict:"data"}}, color: colors[{{ forloop.counter0 }}]},
                    {% endfor %}
                ]
    });

</script>
{% endblock %}
